:root {
  --color-primary: #e7efe1;
  --color-secondary: #1fc667;
  --color-black: #191919;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-primary);
}

img {
  max-width: 100%;
}

h1,
h2,
p {
  font-weight: bold;
  color: var(--color-black);
}

.color--secondary {
  color: var(--color-secondary);
}

.fact {
  background-color: var(--color-secondary);
}

.fact li {
  background-color: var(--color-white);
}

.footer {
  background-color: var(--color-secondary);
}

.footer p {
  color: var(--color-white);
}

.footer__icon {
  display: flex;
  height: 24px;
}

.footer__icon svg {
  fill: var(--color-white);
}

@media screen and (min-width: 600px) {
  .split {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .work {
    display: grid;
  }

  .work * {
    width: 100%;
    height: 100%;
  }

  .work *:nth-child(1) {
    grid-area: 3/2/4/4;
  }

  .work *:nth-child(2) {
    grid-area: 1/1/2/2;
  }

  .work *:nth-child(3) {
    grid-area: 1/2/3/3;
  }

  .work *:nth-child(4) {
    grid-area: 1/3/3/4;
  }

  .work *:nth-child(5) {
    grid-area: 2/1/4/2;
  }

  .love {
    display: grid;
  }

  .love * {
    width: 100%;
    height: 100%;
  }

  .love *:nth-child(1) {
    grid-area: 1/1/2/2;
  }

  .love *:nth-child(2) {
    grid-area: 3/2/4/4;
  }

  .love *:nth-child(3) {
    grid-area: 1/2/3/3;
  }

  .love *:nth-child(4) {
    grid-area: 1/3/3/4;
  }

  .love *:nth-child(5) {
    grid-area: 2/1/4/2;
  }
}